<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Create Pizza')">

</head>

<body>

<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container my-5">
    <h1>Create a new pizza</h1>

    <div>
        <form id="pizza-create" method="POST" th:action="@{/pizzas/create/store}" th:object="${pizza}" class="row gy-2">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Insert description</label>
                <textarea class="form-control" id="description" rows="3" th:field="*{description}"
                          th:errorClass="is-invalid"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="photo_url" class="form-label">Insert image</label>
                <input type="text" class="form-control" id="photo_url" th:field="*{photo_url}"
                       th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('photo_url')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('photo_url')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Insert price</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <h3>Ingredients</h3>
            <div class="form-check" th:each="ing : ${ingredientsList}">
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:value="${ing.id}"
                        th:id="${'ing_' + ing.id}"
                        th:field="*{ingridients}">
                <label class="form-check-label" th:for="${'ing_' + ing.id}" th:text="${ing.name}">
                </label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Save</button>
                <a th:href="@{/pizzas}" class="btn bg-danger text-white">Cancel</a>
            </div>
        </form>


    </div>

</div>

</body>
</html>

