<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Edit Pizza')">

</head>

<body>

<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container my-5">
    <h1>Edit a pizza</h1>
    <div>
        <form id="pizza-edit" method="POST" th:action="@{/pizzas/edit/update/{id}(id=${pizza.id})}" th:object="${pizza}"
              class="row gy-2">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Insert description</label>
                <textarea class="form-control" id="description" rows="3" th:field="*{description}"
                          th:errorClass="is-invalid"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="photo_url" class="form-label">Insert image</label>
                <input type="text" class="form-control" id="photo_url" th:field="*{photo_url}"
                       th:errorClass="is-invalid">
                <div><img class="my-2" th:src="*{photo_url}" style="max-width: 100px; max-height: 100px;"/></div>
                <div th:if="${#fields.hasErrors('photo_url')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('photo_url')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Insert price</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" th:errorClass="is-invalid">
                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div>
                <button class="btn btn-primary" type="submit">Save</button>
                <a th:href="@{/pizzas}" class="btn bg-danger text-white">Cancel</a>
            </div>
        </form>

    </div>
</div>

</body>
</html>